.maintext{
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
}
.bgheader{
    background: #1877f2;
    height: 4em;
    
}
.text-white{
    font-weight: bold;
    color: #fdfdfd;
}
.image{
    width: 10em;
    height: 10em;
    margin-left: 3em;
   
}
.colourtotext{
    color: #1877f2;
    font-weight: bold;
}
.image-style{
    
    height: 16rem;
}
.align{
    padding-left: 0em;
}
.element {
    width: 20em;
    height: 26em;
  }
.cardheight{
   height: 29em;
}
.footer{
 background: #1877f2;
 
}
header{
    position: fixed;
    width: 100%;
   z-index: 2;
    
}
.background{
    background:  #f2f2f2;
}
.rowstyle{
    padding-top: 8em;
}
.textdecoration{
    text-decoration: none;
    
    
}
.progress-tittle {
    color: #888;
    font-size: 0.85em;
    text-transform: uppercase;
    margin-bottom: .5em;
    letter-spacing: 1px;
    line-height: inherit;
}
.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}
  
.progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: #007bff;
    transition: width 0.6s ease;
 }
 .progress {
    font-size: 0.75em;
    line-height: 8em;
    text-align: center;
    background-color: #d6d9da;
    border-radius: 0.25rem;
    margin-bottom: 1em;
}
.myphoto-sign {
    width: 40%;
    margin-bottom: 2em;
}
.about-right-inner h4 {
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 38px;
}
.about-right-inner p {
    line-height: 28px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
  }
